<head>
    <meta charset="utf-8">
    <title>Vitour - Travel & Tour Booking HTML Template</title>

    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/vitour/app/css/app.css">
    <link rel="stylesheet" href="/vitour/app/css/jquery.fancybox.min.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="shortcut icon" href="/vitour/assets/images/favico.png">
    <link rel="apple-touch-icon-precomposed" href="/vitour/assets/images/favico.png">

</head>
