@model List<ResultTourPlanByTourIdDto>
@{
    int i = 0;
}
<div class="tab-pane fade" id="pills-tour-planing" role="tabpanel"
     aria-labelledby="pills-tour-planing-tab" tabindex="0">
    <div class="row">
        <div class="col-lg-8">
            <div class="planing-content-tour">
                @foreach (var item in Model)
                {
                    i++;
                    <div class="tour-planing-section flex">
                        <div class="number-box flex-five">0@(i)</div>
                        <div class="content-box">
                            <h5 class="title">Gün @i: @item.Title</h5>
                            <p class="des">
                                @item.Description
                            </p>
                        </div>
                    </div>
                }

            </div>
        </div>
        @await Component.InvokeAsync("_TourDetailsRightSidebarComponentPartial")
    </div>

</div>
