<section class="breadcumb-section" style="background-image: url('@Url.Content("~/vitour/assets/images/page/breadcrumb.jpg")')">
    <div class="tf-container">
        <div class="row">
            <div class="col-lg-12 center z-index1">
                <h1 class="title"> Archieve Tour</h1>
                <ul class="breadcumb-list flex-five">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Tour Package</span></li>
                </ul>
                <img class="bcrumb-ab" src="./vitour/assets/images/page/mask-bcrumb.png" alt="">
            </div>
        </div>

    </div>
</section>
