<div class="col-lg-4">
    <div class="side-bar-right">
        <div class="sidebar-widget">
            <h6 class="block-heading">Bu Turu Rezerve Et</h6>
            <a href="/DefaultReservation/CreateReservation/"
               style="display:block;
              text-align:center;
              padding: 14px 20px;
              background-color: #28a745;
              color: #fff;
              border-radius: 8px;
              font-weight: 600;
              font-size: 16px;
              text-decoration: none;
              transition: background 0.3s ease;">
                🗓️ Rezervasyon Yap
            </a>
        </div>
        <div class="sidebar-widget">
            <h6 class="block-heading">Güvenle Rezervasyon Yapın</h6>
            <ul class="category-confidence">
                <li class="flex-three">
                    <i class="icon-customer-service-1"></i>
                    <span>7/24 Müşteri Desteği</span>
                </li>
                <li class="flex-three">
                    <i class="icon-Vector-6"></i>
                    <span>Özenle Seçilmiş Turlar & Aktiviteler</span>
                </li>
                <li class="flex-three">
                    <i class="icon-insurance-1"></i>
                    <span>Ücretsiz Seyahat Sigortası</span>
                </li>
                <li class="flex-three">
                    <i class="icon-price-tag-1-1"></i>
                    <span>En İyi Fiyat Garantisi</span>
                </li>
            </ul>
        </div>
        @await Component.InvokeAsync("_TourDetailsSidebarLast3TourComponentPartial")
    </div>
</div>
